body {
    background-image: url("./img/congruent_outline.png");
    background-attachment: fixed;
    color: #ffffff;
    display: flex;
}

header {
    align-items: center;
}
button {
    
    display: block;
    margin: 5px auto;
    border: 3px solid white;
    border-radius: 4px;
    font-family: 'Rokkitt', serif;
    text-align: center;
    font-size: 40pt;
    padding: 5px;
    width: 900px;
}

#center {
    color: white;   
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    height: 480px;
    width: 900px;
}
textarea {
    opacity: 0.2;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color: black;
    height: 480px;
    width: 900px;
}

footer {
    font-family: 'Merriweather', serif;
    font-size: 10px;
    text-align: center;
    color: white;
    background: #6e6e6e;
    border-top: 8px solid black;
    height: 100px;
}