body {
    background-image: url("./img/Mountains.png");
    background-attachment: fixed;
}

h1 {
    font-size: 50pt;
    color: white;
    margin-bottom: 5px;
}

footer {
    align-items: center;
    color: white;
}

#center {
    text-align: center;
}

button {
    box-shadow: 3px 3px gray;
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid white;
    border-radius: 4px;
    font-family: 'Rokkitt', serif;
    text-align: center;
    font-size: 20pt;
    padding: 5px;
    width: 900px;
    background-color: transparent;
    color: white;
}

textarea {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 480px;
    width: 900px;
    color: white;
}