body {
    background-image: url("./img/Mountains.png");
    background-attachment: fixed;
    font-family: "merriweather", "serif";
}

h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 50pt;
    color: white;
    margin-bottom: 5px;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
 }

 footer {
    align-items: center;
    color: white;
}

#center {
    text-align: center;
}

button {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid white;
    border-radius: 4px;
    font-family: 'Rokkitt', serif;
    font-size: 20pt;
    padding: 5px;
    width: 460px;
    height: 50px;
    background-color: transparent;
    color: white;
}

button:hover {
    cursor: pointer;
}

#progressbar {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -200px;
    width: 400px;
    height: 30px;
    background-color: white;
}

#progressLoader {
    width: 0%;
    height: 30px;
    background-color: purple;
}

#text_input {
    text-align: left;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    /* background-color: transparent; */
    font-family: "merriweather", "serif";
    font-size: 15px;
    height: 800px;
    width: 900px;
    color: white;
    border: 3px solid white;
    display: flex;
}

.nouny {
    background-color: pink;
    color: black;
}

.nouny:hover {
    cursor: pointer;
}


.popup_parent {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
  }

.popup {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -6rem;
}

/* Popup arrow */
.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

/*quizify answer response, the response that given to user after they sumbit the answer*/

  #goodjob {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -200px;
    width: 400px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.849);
    color: gold;
    font-size: 200%;
  }

  #trynexttime {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -200px;
    width: 400px;
    height: 30px;
    background-color: black;
    font-size: 200%;
    color: red;
  }

  /*this response remind the user that they already finish all quizs produced, it will show together with the right answer response*/

  #alldone {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -15px;
    margin-left: -200px;
    width: 400px;
    height: 30px;
    background-color: black;
    font-size: 200%;
  }

/*text input area that show after clicking the picture*/

  #answer{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid white;
    border-radius: 4px;
    font-family: 'Rokkitt', serif;
    font-size: 20pt;
    padding: 5px;
    width: 460px;
    height: 50px;
    color: white;
    background-color: transparent;
  }

/* for the "sumbit" button right next to the input area*/
  #submit_answer {
    border: 3px solid white;
    border-radius: 4px;
    font-family: 'Rokkitt', serif;
    font-size: 20pt;
    color: white;
    background-color: transparent;
  }

  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
@media screen and (min-width: 400px) {
    h1 {   
        width: 90%; 
        margin-bottom: 1rem;
    }

    #text_input {
        height: 500px;
        width: 400px;
    }

    button {
        width: 420px;
    }
}

@media screen and (min-width: 550px) {
    h1 {   
        width: 90%; 
        margin-bottom: 1rem;
    }

    #text_input {
        height: 400px;
        width: 500px;
    }

    button {
        width: 525px;
    }
}

@media screen and (min-width: 750px) {
    h1 {   
        width: 90%; 
        margin-bottom: 1rem;
    }

    #text_input {
        height: 400px;
        width: 650px;
    }
    
    button {
        width: 675px;
    }
}

@media screen and (min-width: 900px) {
    h1 {   
        width: 90%; 
        margin-bottom: 1rem;
    }

    #text_input {
        height: 400px;
        width: 800px;
    }
    
    button {
        width: 825px;
 }
}